{% extends "base.html" %}
{% load static %}
{% block container %}

<div class="container-fluid center">
	<h1>Casa de Ração Scooby</h1>
	<p>A melhor casa de ração da região de Franco</p>
</div>

<section>
<div class="col s12 center">
    <div class="row">
        <div class="col m4">
            <img class="img-responsive" alt="450" width="450"  src="{% static 'img/banho.png' %}">
        </div>
        <div class="col m8">
            <h1 id="Banho">Banho & Tosa</h1>
			<p>Contamos com uma equipe de profissionais qualificados para deixar o seu bichinho de estimação mais limpo, bonito e saudáve</p>
			<p class="neg">Banho - Tosa Higiênica - Tosa Estética - Hidratação - Limpeza das Orelhas - Corte de Unhas</p>
        </div>
    </div>
</div>
</section>

<section>
<div class="col s12">
    <div class="row">
        <div class="col m8">
            <h1>Taxi Dog</h1>
			<p>Buscamos o seu bichinho de estimação na sua casa. O transporte é realizado em caixas de transportes individualizadas e higienizadas. </p>
			<p class="neg">Taxi Dog</p>
        </div>
        <div class="col m4">
            <img class="img-responsive" alt="450" width="450" src="{% static 'img/transp.png' %}">
        </div>
    </div>
</div>
</section>

<section>
<div class="col s12">
    <div class="row">
        <div class="col m4">
            <img class="img-responsive" alt="450" width="450"  src="{% static 'img/racao.png' %}">
        </div>
        <div class="col m8 center">
            <h1>venda De Ração</h1>
			<p> A ração do seu melhor amigo acabou? É só ligar que entregamos na sua casa!</p>
			<p class="neg">Tele Entrega</p>
        </div>
    </div>
</div>
</section>

{% endblock %}
